<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= link_to "New user", new_user_path, class: "btn btn-success" %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>address</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.contact %></td>
        <td>
          <%= link_to "Show", user, class: "btn btn-primary btn-sm" %>
          <%= link_to "Edit", edit_user_path(user), class: "btn btn-warning btn-sm" %>
          <%= link_to "Delete", user, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
